#welcome {
	text-align: center;
}
#signForm {
	padding: 12px;
}
.formClass {
	display: inline !important;
	vertical-align: top;
}
#formulaire {
	margin-top: 25px;
	margin-bottom: 35px;
}
#main {
	margin-top: 45px;
}
