#welcome {
	text-align: center;
}
#signForm {
	padding: 12px;
}
.formClass {
	display: inline !important;
	vertical-align: top;
}
#tableDisplay {
	padding-top: 25px;
}
#classList {
	margin-top: 35px;
}
#formulaire {
	margin-top: 25px;
	margin-bottom: 35px;
}
#dataDisplay {
	margin-top: 25px;
	margin-bottom: 25px;
}